*{
  margin: 0;
  padding: 0;
}

.navbar{
  background-color: rgb(226, 122, 140);
  color: white;
  height: 50%;
 display: flex;
 padding: 20px;
  justify-content: center;
  align-items: center;
}.card{
  display: flex;
  justify-content: center;
  align-items: center;

}.card-grays{
  display: flex;
}
.card-content{
  padding: 20px;
  width: 500px;
}.link{
  color: gray;
}.location{
  font-size: 40px;
  padding: 20px;
}.country{
  padding-right: 15px;
}.date{
  font-weight: 700;
  padding-bottom: 10px;
}